.converter-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 120px
  }
  .converter-dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .converter-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .converter-button:hover {
    background-color: #0056b3;
  }

  
  .converter-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .converter-label {
    font-size: 16px;
  }
  
  .converter-input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .conversion-result {
    margin-top: 20px;
  }
  
  .conversion-text {
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  